<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Rye</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header class="header">
        <h1 class="logo">Rye</h1>
        <div class="download">
            <ol>
                <li><label><input type="radio" name="purpose" checked> Production <span>(4.6KB, Minified)</span></label></li>
                <li><label><input type="radio" name="purpose"> Development <span>(33KB, Uncompressed)</span></label></li>
            </ol>
            <button type="button">Download Rye 0.0.1</button>
        </div>
        <div class="buttons">
            <iframe src="http://ghbtns.com/github-btn.html?user=jcemer&amp;repo=rye&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="30"></iframe>
            <iframe src="http://ghbtns.com/github-btn.html?user=jcemer&amp;repo=rye&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="30"></iframe>
        </div>
    </header>
    
    <div class="navigation">
        <div class="content">
            <a href="#" class="home">rye.js <span>(0.0.1)</span></a>
            <nav>
{{menu}}
            </nav>
        </div>
    </div>

    <section class="intro">
{{intro}}
    </section>

    <div class="main">
{{content}}
    </div>

    <footer class="footer">
        <p> 
            by <a href="http://github.com/jcemer"><img src="http://gravatar.com/avatar/c5df370a883b65279af5a7ca94a5eed7?s=25" width="25" height="25" alt="Jean Carlo Emer">jcemer</a>
            and <a href="http://github.com/ricardobeat"><img src="http://gravatar.com/avatar/47923b1f334d8e3f7a00506ac3c7a636?s=25" width="25" height="25" alt="Ricardo Tomasi">ricardobeat</a>
        </p>
    </footer>
    
    <script src="rye.js"></script>
    <script src="scripts/main.js"></script>
</body>
</html>