<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta property="og:title" content="Rye">
    <meta property="og:image" content="http://ryejs.com/images/rye-share.png">
    <meta property="og:description" content="Rye is a lightweight (6k only!) JS library for DOM manipulation and events for the modern web. Touch events/gestures, event emitter, isolated DOM events and more!">
    <title>Rye</title>
    <link rel="stylesheet" href="styles/main.css?h={{cssHash}}">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="shortcut icon" href="/favicon.ico">
    <script>
        var _gaq = [
            ['_setAccount', 'UA-37660534-1']
          , ['_trackPageview']
        ]
        ;(function(){
            var ga = document.createElement('script')
              , s = document.getElementsByTagName('script')[0]
            ga.type = 'text/javascript'
            ga.async = true
            ga.src = 'http://www.google-analytics.com/ga.js'
            s.parentNode.insertBefore(ga, s)
        })()
    </script>
</head>
<body>
    <header class="header">
        <h1 class="logo">Rye</h1>
        <ol class="download" role="group" aria-label="Download options">
            <li>
                <input type="radio" id="download-production" name="purpose" checked aria-hidden="true">
                <label for="download-production" aria-hidden="true">Production <span>(6.3KB, Minified + GZip)</span></label>
                <a href="dist/rye-{{version}}.min.js" class="button" role="button">Download Rye {{version}} <span class="vhidden">for production</span></a>
            </li>
            <li>
                <input type="radio" id="download-development" name="purpose" aria-hidden="true">
                <label for="download-development" aria-hidden="true">Development <span>(44.4KB, Uncompressed)</span></label>
                <a href="dist/rye-{{version}}.js" class="button" role="button">Download Rye {{version}} <span class="vhidden">for development</span></a>
            </li>
        </ol>
    </header>
    
    <div class="navigation">
        <div class="content">
            <a href="/" class="home" rel="home">rye.js <span>({{version}})</span></a>
            <nav>
{{menu}}
            </nav>
        </div>
    </div>

    <div role="main">
        <section class="manifesto">
{{manifesto}}
        </section>

        <div class="main">
{{content}}
        </div>
    </div>

    <footer class="footer" role="contentinfo">
        <p> 
            by <a href="http://github.com/jcemer"><img src="http://gravatar.com/avatar/c5df370a883b65279af5a7ca94a5eed7?s=25" width="25" height="25" alt="Jean Carlo Emer">jcemer</a>,
            <a href="http://github.com/ricardobeat"><img src="http://gravatar.com/avatar/47923b1f334d8e3f7a00506ac3c7a636?s=25" width="25" height="25" alt="Ricardo Tomasi">ricardobeat</a> and
            <a href="http://github.com/WesleydeSouza"><img src="http://gravatar.com/avatar/9e145ca6c91b082bc139062b56a5d529?s=25" width="25" height="25" alt="Wesley de Souza">WesleydeSouza</a>
        </p>
    </footer>

    <script src="scripts/es5-shim.min.js"></script>
    <script src="dist/rye-{{version}}.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/samples.js"></script>
    <script src="scripts/rainbow.js"></script>
</body>
</html>