<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Rye</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script>
        var _gaq = [
            ['_setAccount', 'UA-37660534-1']
          , ['_trackPageview']
        ]
        ;(function(){
            var ga = document.createElement('script')
              , s = document.getElementsByTagName('script')[0]
            ga.type = 'text/javascript'
            ga.async = true
            ga.src = 'http://www.google-analytics.com/ga.js'
            s.parentNode.insertBefore(ga, s)
        })()
    </script>
</head>
<body>
    <header class="header">
        <h1 class="logo">Rye</h1>
    </header>
    
    <div class="navigation">
        <div class="content">
            <a href="/" class="home">rye.js <span>({{version}})</span></a>
            <nav>
{{menu}}
            </nav>
        </div>
    </div>

    <div class="main">
{{content}}
    </div>

    <footer class="footer">
        <p> 
            by <a href="http://github.com/jcemer"><img src="http://gravatar.com/avatar/c5df370a883b65279af5a7ca94a5eed7?s=25" width="25" height="25" alt="Jean Carlo Emer">jcemer</a>
            and <a href="http://github.com/ricardobeat"><img src="http://gravatar.com/avatar/47923b1f334d8e3f7a00506ac3c7a636?s=25" width="25" height="25" alt="Ricardo Tomasi">ricardobeat</a>
        </p>
    </footer>
    
    <script src="../scripts/es5-shim.min.js"></script>
    <script src="../dist/rye-0.0.1.js"></script>
    <script src="../scripts/main.js"></script>
    <script src="../scripts/samples.js"></script>
    <script>
        window.samples.all()
    </script>
    <script src="../scripts/rainbow.js"></script>
</body>
</html>