@import "normalize";
@import "mixins";

html, body {
    margin: 0;
    padding: 0;
}

// 10, 12, 14, 16, 19, 23, 32, 48
//@text: Palatino, "Palatino Linotype", Georgia, Times, "Times New Roman", serif;
//@titles: Palatino, "Palatino Linotype", "Hoefler Text", Times, "Times New Roman", serif;
@sans: "Helvetica Neue", "Helvetica", Arial, sans-serif;
@monospace: Monaco, Consolas, "Lucida Console", monospace;

@color1: #fff;
@color2: #fff5e3;

html {
    height: 100%;
    background-color: @color1;
    background-repeat: repeat-x, repeat;
}

body {
    font-family: @sans;
    min-height: 100%;
    color: #222;
    position: relative;
    overflow: hidden;
    padding: 0 240px 0 20px;
    max-width: 640px;
    min-width: 400px;
    margin:0 auto;
    font-size: 14px;
    line-height: 1.5;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    position: relative;
    font-size: 2.2em;
    padding-top: 1em;
}

h2 {
    font-size: 1.4em;
    line-height: 2;
    padding-top: 1em;
}

h3 {
    font-size: 1em;
    padding-top: 0.6em;
}

code {
    font-size: 12px;
    line-height: 18px;
    background: @color2;
    padding: 0 4px;
}

pre code {
    display: block;
    padding: 1em;
    font-family: @monospace;
    color: #990066;
}

table {
    background: lighten(@color2, 2);
    font-size: 95%;
    th {
        text-align: left;
    }
    th, td {
        padding: 2px .5em;
        border: 1px solid @color1;
    }
    th {
        background: lighten(@color2, -1);
    }
}

.button {
    #gradient > .vertical(#666, #444);
    border: 1px solid #333;
    border-bottom-color: #111;
    text-shadow: 1px 1px 2px #333;
    color: @color1 !important;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    &:hover {
        #gradient > .vertical(#555, #333);
        border-color: #222;
        border-bottom-color: #000;
    }
}

.vhidden {
    position: absolute;
    left: -9999px;
}

.header {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    padding: 30px 0 20px 0;
}

.logo {
    .IR;
    .size(160px, 250px);
    background: url(../images/rye_v.png);
    float: left;
    margin: 0 0 0 -10px;
    padding: 0;
}

.download {
    float: right;
    margin: 40px;
    padding: 0;
    list-style: none;
    position: relative;

    li {
        margin-bottom: .1em;
    }
    input {
        height: 1em;
        margin-right: 4px;
        vertical-align: middle;
    }
    label {
        vertical-align: middle;
        span {
            font-size: .8em;
        }
    }

    .button {
        font-size: 1.4em;
        position: absolute;
        left: -9000px;
        padding: 10px 18px;
    }
    input:checked ~ .button {
        left: 0;
        top: 50px;
    }
}

@import "nav";

section h1 {
    padding-bottom: 90px;
    margin-bottom: -60px;
    background: url(../images/radial.png) center bottom no-repeat;
}

.main {
    h2 {
        margin-bottom: 0;
    }
    h2 + pre {
        margin-top: 0;
        code {
            font-size: 12px;
            color: #990066;
            font-family: @monospace;
            background: none;
            white-space: pre;
            margin: 0;
            padding: 0;
        }
        span {
            color: #666;
        }
    }
}

.manifesto {
    p:first-child {
        padding: 0 20px;
        font-size: 1.2em;
        text-align: center;
    }
    table {
        display: inline-block;
        vertical-align: top;
        margin-right: 20px;
    }
}

.buttons {
    height: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

li {
    code {
        outline: none;
        padding: 2px 4px;
        margin-right: 2px;
    }
}

@import "rainbow";

@import "sample";

footer {
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(../images/radial.png) center top no-repeat;
    a {
        img {
            border-radius: 50%;
            vertical-align: middle;
            margin: 0 4px;
        }
        &:hover img {
            -webkit-transition: opacity .5s;
            -moz-transition: opacity .5s;
            transition: opacity .5s;
            opacity: .5;
        }
    }
}