article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
body,button,input,select,textarea{font-family:sans-serif;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:75%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.IR{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
html,body{margin:0;padding:0;}
html{height:100%;background-color:#fff5e3;background-image:-webkit-linear-gradient(top, #f3e6cf 0, rgba(255, 245, 227, 0) 20%),url(../images/pattern.png);background-image:-moz-linear-gradient(top, #f3e6cf 0, rgba(255, 245, 227, 0) 20%),url(../images/pattern.png);background-image:linear-gradient(top, #f3e6cf 0, rgba(255, 245, 227, 0) 20%),url(../images/pattern.png);background-repeat:repeat-x,repeat;}
body{font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;min-height:100%;color:#222;position:relative;overflow:hidden;padding:0 240px 0 20px;max-width:640px;min-width:400px;margin:0 auto;font-size:14px;line-height:1.5;}
h1,h2,h3{margin-top:0;}
h1{position:relative;font-size:2.2em;padding-top:1em;padding-bottom:.5em;background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 8px);background-image:-moz-linear-gradient(bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 8px);background-image:linear-gradient(bottom, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 8px);}
h2{font-size:1.4em;padding-top:1em;}
h3{font-size:1em;padding-top:0.6em;}
code{font-size:12px;line-height:18px;background:#fff9ed;outline:1px solid #f3e6cf;padding:0 4px;}
table{background:#f5ead7;font-size:95%;}table th{text-align:left;}
table th,table td{padding:2px .5em;border:1px solid #fff5e3;}
table th{background:#f2e4cb;}
.vhidden{position:absolute;left:-9999px;}
.header{margin:0 auto;position:relative;overflow:hidden;padding:30px 0 20px 0;}
.logo{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;width:250px;height:160px;background:url(../images/rye_v.png);float:left;margin:0 0 0 -10px;}
.download{float:right;margin:40px;padding:0;list-style:none;position:relative;}.download li{margin-bottom:.1em;}
.download input{height:1em;margin-right:4px;vertical-align:middle;}
.download label{vertical-align:middle;}.download label span{font-size:.8em;color:#777;}
.download .button{font-size:1.4em;background-color:#585858;background-image:-moz-linear-gradient(top, #666666, #444444);background-image:-ms-linear-gradient(top, #666666, #444444);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#444444));background-image:-webkit-linear-gradient(top, #666666, #444444);background-image:-o-linear-gradient(top, #666666, #444444);background-image:linear-gradient(top, #666666, #444444);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#444444', GradientType=0);border:1px solid #333;border-bottom-color:#111;text-shadow:1px 1px 2px #333;color:#fff5e3;padding:10px 18px;border-radius:3px;text-decoration:none;}.download .button:hover{background-color:#474747;background-image:-moz-linear-gradient(top, #555555, #333333);background-image:-ms-linear-gradient(top, #555555, #333333);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));background-image:-webkit-linear-gradient(top, #555555, #333333);background-image:-o-linear-gradient(top, #555555, #333333);background-image:linear-gradient(top, #555555, #333333);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#333333', GradientType=0);border-color:#222;border-bottom-color:#000;}
.download input:checked~.button{left:0;top:50px;}
.version{position:absolute;left:-40px;top:0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg);color:#333;font-size:1em;font-weight:bold;padding:4px 50px;background:#eee;}
.navigation{position:absolute;right:0;width:200px;}.navigation .home{padding-left:20px;font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;display:block;line-height:3;color:#000;font-weight:700;text-decoration:none;font-size:1.2em;}.navigation .home span{font-size:.6em;font-weight:normal;color:#999;}
.navigation .content{box-shadow:-8px 1px 30px rgba(0, 0, 0, 0.04);position:fixed;top:0;bottom:0;z-index:1;width:198px;overflow:auto;background:#f3e6cf;}
nav ul{padding:0;margin:0;}
nav a{padding-left:20px;display:block;font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;font-weight:700;color:#454 !important;text-decoration:none;}
nav .module{color:#898 !important;}
nav li{line-height:2;border-top:1px solid #fff5e3;}nav li:hover{background:#f1e2c7;}
nav ul ul{display:none;}nav ul ul a{font-weight:normal;padding-left:24px;}
nav ul ul li{border:0;line-height:1.6;}nav ul ul li:hover{background:#faf0de;}
nav .open{background:#fff5e3;}nav .open a{background-color:#ffe576;background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 10px);background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 10px);background-image:linear-gradient(left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 10px);}
nav .open ul{background:#fff5e3;display:block;}nav .open ul li:last-child{padding-bottom:6px;}
nav .open ul a{background:transparent;}
nav .open ul .active,nav .open ul .open{position:relative;background-color:#ffed9f;background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 10px);background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 10px);background-image:linear-gradient(left, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 10px);}
.main .api{font-size:12px;color:#990066;font-family:Monaco,Consolas,"Lucida Console",monospace;}.main .api span{color:#999;}
.main h2{font-family:"Helvetica Neue","Helvetica",Arial,sans-serif;font-size:18px;line-height:2;margin-bottom:0;}
.manifesto p:first-child{padding:0 20px;font-size:1.2em;text-align:center;}
.manifesto table{display:inline-block;vertical-align:top;margin-right:20px;}
.buttons{height:20px;padding-top:10px;margin-bottom:20px;text-align:center;}
li code{background:#ffe780;outline:none;padding:2px 4px;margin-right:2px;}li code:hover{cursor:default;background:#ffeea6;}
footer{margin-top:60px;padding-top:20px;padding-bottom:20px;background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 8px);background-image:-moz-linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 8px);background-image:linear-gradient(top, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0) 8px);}footer img{border-radius:50%;vertical-align:middle;margin:0 4px;}
