.navigation {
    position: absolute;
    right: 0;
    width: 200px;
    .home {
        padding-left: 20px;
        font-family: @sans;
        display: block;
        line-height: 3;
        color: #000;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.2em;
        span {
            font-size: .6em;
            font-weight: normal;
            color: #999;
        }
    }
}
.navigation .content {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 198px;
    overflow: auto;
    background: @color2;
}
nav {
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        padding-left: 20px;
        display: block;
        font-family: @sans;
        font-weight: 700;
        color: #454 !important;
        text-decoration: none;
    }
    .module {
        color: #898 !important;
    }
    li {
        line-height: 2;
        border-top: 1px solid @color1;
        &:hover {
            background: lighten(@color2, -2);
        }
    }
    ul ul {
        display: none;
        a {
            font-weight: normal;
            padding-left: 24px;
        }
        li {
            border: 0;
            line-height: 1.6;
            &:hover {
                background: mix(@color1, black, 98);
            }
        }
    }
    .open {
        background: @color1;
        a {
            background: darken(#ffe780, 2);
        }
        ul {
            background: @color1;
            display: block;
            li:last-child {
                padding-bottom: 6px;
            }
            a {
                background: transparent;
            }
            .active, .open {
                position: relative;
                background: lighten(#ffe780, 6)
            }
        }
    }
}