.navigation {
    position: absolute;
    right: 0;
    width: 200px;
    .home {
        padding-left: 20px;
        font-family: @sans;
        display: block;
        line-height: 3;
        color: #000;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.2em;
        span {
            font-size: .6em;
            font-weight: normal;
            color: #666;
        }
    }
}
.navigation .content {
    box-shadow: -4px 1px 20px rgba(0, 0, 0, .06);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 198px;
    overflow: auto;
    background: @color2;
}
nav {
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        padding-left: 20px;
        display: block;
        font-family: @sans;
        font-weight: 700;
        color: #454 !important;
        text-decoration: none;
    }
    li {
        line-height: 2;
        border-top: 1px solid @color1;
        &:hover {
            background: lighten(@color2, -2);
        }
    }
    ul ul {
        display: none;
        a {
            font-weight: normal;
            padding-left: 24px;
        }
        li {
            border: 0;
            line-height: 1.6;
            &:hover {
                background: mix(@color1, black, 98);
            }
        }
    }
    .open {
        background: @color1;
        a {
            background-color: darken(#ffe780, 2);
            background-image: -webkit-linear-gradient(left, fade(black, 3), fade(black, 0) 10px);
            background-image: -moz-linear-gradient(left, fade(black, 3), fade(black, 0) 10px);
            background-image: linear-gradient(left, fade(black, 3), fade(black, 0) 10px);
        }
        ul {
            background: @color1;
            display: block;
            li:last-child {
                padding-bottom: 6px;
            }
            a {
                background: transparent;
            }
            .active, .open {
                position: relative;
                background-color: lighten(#ffe780, 6);
                background-image: -webkit-linear-gradient(left, fade(black, 3), fade(black, 0) 10px);
                background-image: -moz-linear-gradient(left, fade(black, 3), fade(black, 0) 10px);
                background-image: linear-gradient(left, fade(black, 3), fade(black, 0) 10px);
            }
        }
    }
}