.navigation {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 200px;
}
nav {
    position: fixed;
    padding-top: 20px;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 198px;
    overflow: auto;
    background: darken(white, 5);
    ul {
        padding: 0;
        margin: 0;
    }
    a {
        padding-left: 20px;
        display: block;
        font-family: @sans;
        font-weight: 700;
        color: #565 !important;
        text-decoration: none;
    }
    li {
        line-height: 2;
        border-top: 1px solid white;
    }
    ul ul {
        display: none;
        a {
            font-weight: normal;
            padding-left: 24px;
        }
        li {
            border: 0;
            line-height: 1.6;
        }
    }
    .open {
        background: white;
        a {
            background: lighten(#ffd75f, 10);
        }
        ul {
            background: white;
            a {
                background: transparent;
            }
        }
        .active, .open {
            position: relative;
            background: lighten(#ffd75f, 20);
        }
        ul {
            display: block;
            li:last-child {
                padding-bottom: 6px;
            }
        }
    }
}