#overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 100;
}

.touch_sample {
    .box-sizing(border-box);
    color: #333;
    height: 100px;
    margin-top: 1em;
    padding: 10px;
    overflow: hidden;
}
.touch_sample .name {
    font-weight: bold;
    font-size: 1.2em;
}

#sample {
    -webkit-transition: .4s bottom ease-out;
    -moz-transition: .4s bottom ease-out;
    transition: .4s bottom ease-out;
   
    position: fixed;
    bottom: 0%; right: 0; left: 0;
    z-index: 200;

    height: 60%;

    background: rgba(0,0,0,.9);
    color: #CCC;
    
    &.hide {
        bottom: -100%;
    }

    .wrapper {
        padding: 0 20px;
        max-width: 860px;
        min-width: 620px;
        height: 100%;
        position: relative;
        margin: 0 auto;
    }
    h1 {
        border-bottom: 1px #333 solid;
        padding-bottom: .5em;
        background: none;
    }
    .close {
        background: none;
        border: none;
        color: white;
        position: absolute;
        padding: 20px;
        right: 0;
        top: 2em;
    }
    .content, .sample {
        width: 40%;
        position: absolute;
        top: 140px;
        bottom: 20px;
    }
    .content {
        padding-right: 10%;
        overflow: auto;
        h2:first-child {
            padding-top: 0;
        }
    }
    .sample {
        right: 20px;
        pre, code {
            .box-sizing(border-box);
            height: 100%;
        }
        pre {
            margin: 0;
            padding: 1em 0;
        }
        code {
            overflow: auto;
        }
    }

    // samples
    .touch_sample {
        height: 30.33%;
        margin-top: 3%;
    }
}

@media all and (max-height: 600px) {
    #sample {
        height: 100%;
    }
}