

#sample {
    -webkit-transition: .4s top ease-out;
    -moz-transition: .4s top ease-out;
    transition: .4s top ease-out;

    &.hide {
        top: 100%;
    }
   
    position: fixed;
    top: 40%; right: 0; left: 0;
    height: 60%;

    background: rgba(0,0,0,.9);
    z-index: 1;

    color: #ccc;

    .wrapper {
        padding: 0 20px;
        max-width: 860px;
        min-width: 620px;
        height: 100%;
        position: relative;
        margin: 0 auto;
    }
    h1 {
        border-bottom: 1px #333 solid;
        padding-bottom: .5em;
        background: none;
    }
    .close {
        background: none;
        border: none;
        color: white;
        position: absolute;
        padding: 20px;
        right: 0;
        top: 2em;
    }
    .content, .code {
        width: 40%;
        position: absolute;
        top: 140px;
        bottom: 20px;
    }
    .content {
        overflow: auto;
        padding-right: 10%;
        h2:first-child {
            padding-top: 0;
        }
    }
    .code {
        right: 20px;
    }
}