#sample {
   
    position: fixed;
    top: 40%; right: 0; bottom: 0; left: 0;

    background: rgba(0,0,0,.9);
    z-index: 1;

    color: #ccc;

    .wrapper {
        padding: 0 20px;
        max-width: 860px;
        min-width: 620px;
        height: 100%;
        position: relative;
        margin: 0 auto;
    }
    h1 {
        border-bottom: 1px #333 solid;
        padding-bottom: .5em;
        background: none;
    }
    .close {
        background: none;
        border: none;
        color: white;
        position: absolute;
        padding: 20px;
        right: 0;
        top: 2em;
    }
    .content {
        width: 40%;
    }
    iframe {
        position: absolute;
        border: none;
        background: white;
        width: 40%;
        height: 60%;
        bottom: 10%;
        right: 20px;
    }
}